


.buttonblock {
    padding-bottom: 1%;
}

@media (min-width: 768px) {
    .app-settings-row {
        display: flex;
    }
    
    
    .col-vert {
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    .col-md-3.label,
    .col-md-6.input {
        display: block;
        width: 100%;
    }

    .col-md-6.input {
        margin-bottom: 0;
    }

    .col-md-3.text-right {
        text-align: right;
    }
    #mdcontent2container { left: 17%; width: 66%; }
}

@media (max-width: 767.98px) {
    .col-vert {
        margin-bottom: 10px;
        justify-content: center; 
    }
    
    #apps-detail {
margin: 0px 1% 0px 1%;
display: flex; 
flex-wrap: wrap;
justify-content: center;
}
 #mdcontent2container { left: 2%; width: 96%; }
}





.rowthree-wrapper {
padding: 20px 0 20px 0;
}


@media (min-width: 767.98px) {
.grid-view .threeblock {
                display: inline-block;
                width: 30%;
                padding: 0px 0px 15px 0px;
            }
            .list-view .threeblock {
                display: block;
                width: 100%;
                padding: 0px 0px 0px 0px;
            }
            .app-detail {
                padding: 2%;
             }
}

@media (max-width: 767.98px) {
.grid-view .threeblock {
                display: inline-block;
                width: 80% !important;
                padding: 0px 0px 15px 0px;
            }
            .list-view .threeblock {
                display: block;
                width: 100%;
                padding: 0px 0px 0px 0px;
                margin-bottom: 25px;
            }
            .app-detail {
                padding: 4%;
             }
}

.list-view {
                text-align: left;
            }
            
            .list-view .threeblock .app-image {
                width: 7%;
            }
            .list-view .threeblock .appcategory {
                display:inline-block;
                vertical-align:top;
                text-align:left
            }
            
            .grid-view .threeblock .app-image {
                width: 30%;
            }
            .grid-view .threeblock .appcategory {
                display:none;
            }
            
            .app-detail {
                text-align: left;
                background-color: #F8F8F8;
                border-radius: 25px;
             }
             .app-detail-row {
                padding: 2%;
             }
             .app-detail-title {
                font-weight: bold;
             }
             .svg-icon {
            width: 200px;
            vertical-align: middle; /* Aligns the SVG with the text */
        }
        
        .row.d-flex.align-items-stretch {
  display: flex;
  align-items: stretch;
}

.col-md-6 {
  width: 48%;
          margin: 1%;
  }
  .col-md-6-search {
  width: 48%;
  margin: 1%;
  }

@media (max-width: 768px) {
    .col-md-6 {
        width: 96%;
        margin: 1%;
    }
    .col-md-6-search {
        width: 96%;
        margin: 1%;
        padding: 0 2%;
    }
    .row.d-flex.align-items-stretch {
  display: block;
}
}
 
       #overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(248, 248, 248, 0.8); z-index: 1000; } 
       #mdcontent2container { position: absolute; top: 0; background-color: white; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); padding: 20px; overflow: auto; height: 100vh; } 
       #mdcontent2 { width: 100%; max-width: 100%; position: relative; } 
       #mdcontent2 img { max-width: 100%; } 
       #mdcontent2::after { content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); } 
       .button_border_small { padding: 1px 4px; width: auto; } 
       .fadeout { height: 33vh; /* Show first 1/3 of the content */ overflow: hidden; position: relative; }
        
        #code-box {
    border: 1px solid #ccc;
    padding: 50px 10px 10px 10px; 
    margin-top: 20px;
    background-color: #f9f9f9;
    position: relative;
}

#code-content {
overflow: auto;
}

#copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: none;
    color: #00aeef;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#copy-button:hover {
    background-color: #00aeef;
    color: #000;
}


  .expanded {
    
    top: 0;
    left: 10%;
    width: 80%;
    
    
  }
  
  .expanded2 {
    
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.8);
    z-index: 9999;
  }

  #carouselWrapper {
    position: relative;
  }

  .zoom-in {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    font-size: 140%;
  }
  
  .zoom-out {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    font-size: 140%;
  }
  
  .flex-container-search {
  display: flex; 
  align-items: center; 
  gap: 5%;
  }
