.contuctus_form {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    clear: both;
}

.contuctus_form div {
    float: left;
    clear: both;
    width: 100%;
    margin: 5px 0px 5px 0px;
}

.contuctus_form input[type=text], textarea {
    float: left;
    clear: right;
    width: 78%;
    height: 30px;
    border: 1px solid #CCC;
    padding: 0px 5px 0px 5px;
}

.contuctus_form .big_field textarea {
    height: 210px;
}

.contuctus_form label {
    float: left;
    width: 14%;
    padding: 3px 10px 0px 0px;
    vertical-align: middle;
    text-align: right;
}

.contuctus_form .buttons {
    text-align: center;
}

.submit_button {
    margin-left:auto;
    margin-right:auto;
    width:90px;
}