html {
    height: 100%;
    -moz-text-size-adjust:: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

body {
    font-family: 'Roboto', Sans-serif;
    margin: 0;
    padding: 0;
    color: #292b30;
    font-weight: 300;
    -moz-text-size-adjust:: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    min-width: 320px;
    background: #fff;
    width: 100%;
    height: 100%
}

* {
    -moz-text-size-adjust:: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: 'Roboto', Sans-serif
}

h1, h2, h3, h4, h5, h6, b {
    font-weight: 300
}

p {
    font-size: 16px
}

a, button {
    outline: none;
    text-decoration: none
}

button:active {
    outline: none;
    border: none
}

button:focus {
    outline: none;
    border: none
}

img {
    border: none
}

.headblock {
    position: absolute;
    width: 100%;
    top: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
    z-index: 20
}

.fixed header {
    padding: 10px 0 !important
}

.fixed .menu {
    top: 40px
}

header {
    padding: 30px 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

header:after, footer:after {
    content: '';
    display: block;
    clear: both
}

.logo {
    background: url(../images/logo_small.svg) no-repeat center;
    width: 300px;
    height: 80px;
    text-indent: -9999px;
    display: block;
    float: left
}

header .buttonblock {
    float: right;
    margin: 18px 40px 0 0;
    width: 70%;
    text-align: right
}

header .buttonblock a {
    width: 150px;
    margin-right: 30px
}

.button_border {
    line-height: 44px;
    width: 100%;
    border: 1px solid #00aeef;
    padding: 2px 0 0;
    text-align: center;
    color: #00aeef;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    display: inline-block;
    border-radius: 34px
}

.button_border:hover {
    background: #00aeef;
    color: #fff
}

.button_blue {
    line-height: 44px;
    width: 100%;
    border: 1px solid transparent;
    background: #00aeef;
    padding: 2px 0 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    display: inline-block;
    border-radius: 34px
}

.button_blue:hover {
    background: #64bc46;
    color: #fff
}

.menublock {
    position: absolute;
    top: 0;
    width: 100%
}

.menu {
    position: absolute;
    border: none;
    width: 34px;
    height: 27px;
    cursor: pointer;
    text-indent: -9999px;
    right: 0;
    top: 60px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #292b30;
    border-radius: 34px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.menu span:nth-child(1) {
    top: 0
}

.menu span:nth-child(2), .menu span:nth-child(3) {
    top: 11px
}

.menu span:nth-child(4) {
    top: 22px
}

.menu.menuopen span:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%
}

.menu.menuopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.menu.menuopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.menu.menuopen span:nth-child(4) {
    top: 11px;
    width: 0;
    left: 50%
}

.navi {
    width: 100%;
    background: #00aeef;
    top: 130px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    z-index: 22;
    height: 0;
    overflow: hidden
}

.fixed .navi {
    top: 100px
}

.naviopen {
    opacity: 1;
    height: auto;
    visibility: visible
}

.menublock2 {
    top: -50px;
    position: absolute
}

.navi a {
    display: block;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    text-transform: uppercase
}

.bg1 {
    background: url(../images/bg1.jpg) no-repeat center top;

    overflow: hidden;
    height: 100%;
    width: 100%;

    min-height: 700px;
    padding-top: 120px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.wd12 {
    max-width: 1250px;
    margin: 0 auto;
    position: relative
}

.bg1, .block2, .bg3, .block4, .bg5, .bg6 {
    overflow-x: hidden
}

.wd12:after {
    content: '';
    display: block;
    clear: both
}

.bg1 h1 {
    text-align: center;
    font-size: 70px;
    margin: 0
}

.bg1 h2 {
    font-size: 30px;
    color: #818489;
    text-align: center;
    margin: 15px 0 0
}

.buttonblock1 {
    width: 190px;
    margin: 30px auto
}

.block1 {
    background: url(../images/block1.png) no-repeat center top;
    width: 80%;
    height: 620px;
    margin: -50px auto 0;
    z-index: 2;
    bottom: 0
}

.midblock {
    margin: 40px auto 0;
    width: 100%;
    position: relative;
    z-index: 5
}

.bh1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #292b30
}

.block2 {
    vertical-align: middle;
    text-align: center;
    padding: 100px 0
}

.bgblock {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    min-height: 600px
}

.blocktext {
    width: 30%;
    margin-left: 5%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    color: #818489
}

.block2 .btext {
    text-align: left
}

.btext a {
    color: #818489;
    text-decoration: underline;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.btext a:hover {
    color: #64bc46
}

.bg2 {
    background: url(../images/bg2n_.png) no-repeat center;
    position: relative
}

.bg2 a {
    position: absolute;
    background-size: contain !important;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    text-indent: -9999px
}

.bg2 .serv1 {
    background: url(../images/serv_owncloud.png) no-repeat center;
    top: 15%;
    right: 27%
}

.bg2 .serv2 {
    background: url(../images/serv_diaspora.png) no-repeat center;
    top: 45%;
    right: 16%
}

.bg2 .serv3 {
    background: url(../images/serv_roundcube.png) no-repeat center;
    top: 15%;
    left: 27%
}

.bg2 .serv4 {
    background: url(../images/serv_asterisk.png) no-repeat center;
    top: 45%;
    left: 15%
}

.bg2 .serv5 {
    background: url(../images/serv_nextcloud.png) no-repeat center;
    top: 45%;
    left: 40%
}

.blue {
    color: #01bdf1
}

.green {
    color: #67bf49
}

.bg3 {
    background: url(../images/bg3.jpg) no-repeat center bottom #EEE;
    padding: 100px 0 0;
    text-align: center;
    height: 700px;
    overflow: hidden;
    box-sizing: unset !important;
}

.block3 {
    height: 100%
}

.btext {
    text-align: center;
    color: #818489
}

.block3bg {
    background: url(../images/block3.png) no-repeat center;
    width: 398px;
    height: 750px;
    margin: 0 auto 0 auto;
}

.bg4 {
    background: url(../images/block4.png) no-repeat center
}

.block4 {
    padding: 100px 0;
    text-align: center
}

.block4 .btext {
    text-align: left
}

.bg5 {
    background: url(../images/bg5.jpg) no-repeat center #EEE;
    padding: 80px 0;
    text-align: center
}

.round {
    width: 244px;
    height: 244px;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.round span {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 140px;
    font-size: 22px
}

.block5 .row {
    background: url(../images/block5.png) no-repeat center;
    padding: 90px 0
}

.block5 .btext {
    width: 80%;
    margin: 0 auto
}

.round.icon1 {
    background: url(../images/b1.png) no-repeat center 60px #00aeef;
    vertical-align: middle;
}

.round.icon2 {
    background: url(../images/b2.png) no-repeat center 60px #64bc46;
    width: 300px;
    height: 300px;
    margin: 0 130px;
    vertical-align: middle;
}

.round.icon2 span {
    padding-top: 180px
}

.round.icon3 {
    background: url(../images/b3.png) no-repeat center 60px #00aeef;
    vertical-align: middle;
}

.bg6 {
    background: url(../images/bg6.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #fff !important
}

.block6 .bh1 {
    color: #fff
}

.block6 .btext {
    color: #fff;
    width: 80%;
    margin: 0 auto
}

.block6 .row a {
    display: inline-block;
    color: #fff;
    text-indent: -9999px
}

.block6 .row {
    margin-top: 60px
}

.opso1 {
    width: 283px;
    height: 82px;
    background: url(../images/opensource.png) no-repeat center;
    margin: 20px 40px
}

.opso2 {
    background: url(../images/github.png) no-repeat center;
    width: 260px;
    height: 81px;
    margin: 20px 40px
}

.copyrights {
    float: left;
    width: 400px;
    color: #64BC46;
    font-size: 14px;
    margin: 10px 0 0
}

footer {
    vertical-align: middle;
    padding: 40px 0
}

footer .links {
    float: right;
    margin: 8px 40px 0 0
}

footer .links a {
    color: #3A3D44;
    margin: 0 5px;
    border-bottom: 1px dashed #3A3D44;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease
}

footer .links a:hover {
    color: #3A3D44;
    border-bottom: 1px dashed transparent;
}

.contacts {
    float: right;
    text-align: right;
    margin: 0
}

.link_mail {
    text-indent: -9999px;
    background: url(../images/email.svg) no-repeat center;
    width: 35px;
    height: 35px;
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.link_mail:hover, .link_facebook:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.link_facebook {
    text-indent: -9999px;
    background: url(../images/facebook.svg) no-repeat center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    display: inline-block;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease
}

.feelink {
    color: #3A3D44;
    width: 180px;
    margin: 10px auto 0;
    display: block;
    font-size: 14px;
    float: left;
}

.feelink font {
    border-bottom: 1px dashed #abafb9;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease
}

.feelink:hover font {
    color: #ed3738;
    border-bottom-color: transparent
}

@media (max-width: 320px) {
    .midblock .buttonblock1 {
        display: none
    }

    header .buttonblock {
        display: none
    }

    .midblock {
        text-align: center
    }

    .midblock a {
        width: 110px;
        margin: 20px 10px
    }

    .bh1 {
        font-size: 40px;
        width: 90%;
        margin: 0 auto 30px
    }

    .bgblock {
        min-height: 250px !important
    }

    .block2 {
        padding-top: 50px !important
    }

    .bg2 a {
        width: 80px;
        height: 80px !important
    }

    .bg2 .serv1 {
        top: 0%;
        right: 20%
    }

    .bg2 .serv2 {
        top: 30%;
        right: 6%
    }

    .bg2 .serv3 {
        top: 0%;
        left: 20%
    }

    .bg2 .serv4 {
        top: 30%;
        left: 6%
    }

    .bg2 .serv5 {
        top: 41%;
        left: 36%;
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    .midblock .buttonblock1 {
        display: none
    }

    header .buttonblock {
        display: none
    }

    .midblock {
        text-align: center
    }

    .midblock a {
        width: 110px;
        margin: 20px 10px
    }

    .bh1 {
        font-size: 40px;
        width: 90%;
        margin: 0 auto 30px
    }

    .block2 {
        padding-top: 50px !important
    }

    .bg2 a {
        width: 80px;
        height: 80px !important
    }

    .bg2 .serv1 {
        top: 0%;
        right: 20%
    }

    .bg2 .serv2 {
        top: 30%;
        right: 6%
    }

    .bg2 .serv3 {
        top: 0%;
        left: 20%
    }

    .bg2 .serv4 {
        top: 30%;
        left: 6%
    }

    .bg2 .serv5 {
        top: 41%;
        left: 36%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {
    .midblock .buttonblock1 {
        display: none
    }

    header .buttonblock {
        display: none
    }

    .midblock {
        text-align: center
    }

    .midblock a {
        width: 110px;
        margin: 20px 10px
    }

    .bh1 {
        font-size: 40px;
        width: 90%;
        margin: 0 auto 30px
    }

    .bgblock {
        min-height: 250px !important
    }

    .block2 {
        padding-top: 50px !important
    }

    .bg2 a {
        width: 80px;
        height: 80px !important
    }

    .bg2 .serv1 {
        top: 0%;
        right: 20%
    }

    .bg2 .serv2 {
        top: 30%;
        right: 6%
    }

    .bg2 .serv3 {
        top: 0%;
        left: 20%
    }

    .bg2 .serv4 {
        top: 30%;
        left: 6%
    }

    .bg2 .serv5 {
        top: 41%;
        left: 36%;
    }
}

@media (min-width: 480px) and (max-width: 550px) {
    .midblock .buttonblock1 {
        display: none
    }

    header .buttonblock {
        display: none
    }

    .midblock {
        text-align: center
    }

    .midblock a {
        width: 110px;
        margin: 20px 10px
    }

    .bgblock {
        min-height: 250px !important
    }

    .block2 {
        padding-top: 50px !important
    }

    .bg2 a {
        width: 80px;
        height: 80px !important
    }

    .bg2 .serv1 {
        top: 0%;
        right: 20%
    }

    .bg2 .serv2 {
        top: 30%;
        right: 6%
    }

    .bg2 .serv3 {
        top: 0%;
        left: 20%
    }

    .bg2 .serv4 {
        top: 30%;
        left: 6%
    }

    .bg2 .serv5 {
        top: 41%;
        left: 36%;
    }
}

@media (max-width: 550px) {
    header {
        width: 90%;
        margin: 0 auto;
        padding: 15px 0
    }

    footer {
        width: 90%
    }

    header .logo {
        margin: 0;
        float: none;
        width: 220px
    }

    header .menu {
        top: 44px
    }

    header .buttonblock {
        margin: 17px auto 0 !important;
        width: 100% !important;
        text-align: center !important;
        float: none
    }

    header .buttonblock a {
        margin: 0 10px !important;
        width: 110px
    }

    .fixed .logo {
        height: 50px
    }

    .fixed .menu {
        top: 23px;
        background-size: contain;
        width: 28px
    }

    .navi {
        top: 98px
    }

    .fixed .navi {
        top: 70px
    }

    .block1 {
        margin: 0 auto 0;
        height: 400px;
        width: 100%;
        background-size: 125%
    }

    .midblock {
        margin-top: 10px
    }

    .bg1 {
        max-height: 650px;
        min-height: 650px
    }

    .bg1 h1 {
        font-size: 50px;
        margin: 0 auto;
        width: 90%
    }

    .bg1 h2 {
        font-size: 24px;
        width: 90%;
        margin: 0 auto;
        display: none
    }

    .blocktext {
        width: 85%;
        margin: 30px auto 0;
        text-align: center
    }

    .block2 .btext, .block4 .btext {
        text-align: center
    }

    .bgblock {
        background-size: contain;
        margin: 0 auto;
        min-width: 280px;
        max-width: 600px;
        min-height: 225px
    }

    .bg3 .btext {
        width: 80%;
        text-align: center;
        margin: 0 auto 30px
    }

    .bg3 {
        height: 600px;
        background-size: cover;
        padding-top: 60px
    }

    .block3bg {
        background-size: contain;
        width: 300px;
        height: 500px;
    }

    .row {
        background: none !important
    }

    .round {
        width: 244px !important;
        height: 244px !important;
        border-radius: 50%;
        margin: 20px auto 0 !important;
        display: block
    }

    .round:first-child {
        margin-top: 0 !important
    }

    .block5 .row {
        padding: 30px 0 !important
    }

    .round span {
        padding-top: 140px
    }

    .round.icon2 {
        background-position: center 50px !important;
        margin: 50px auto !important
    }

    .round.icon2 span {
        padding-top: 150px !important
    }

    .opso1, .opso2 {
        width: 80%;
        margin: 20px auto;
        background-size: contain
    }

    .copyrights, footer .links {
        float: none;
        width: 80% !important;
        margin: 20px auto
    }

    .midblock .buttonblock1 {
        display: none
    }

    header .buttonblock {
        display: none
    }

    .midblock {
        text-align: center
    }

    .midblock a {
        width: 90px;
        margin: 20px 10px
    }
}

@media (min-width: 550px) and (max-width: 750px) {
    .bg2 a {
        width: 100px;
        height: 100px !important
    }

    .bg2 .serv1 {
        top: 0%;
        right: 20%
    }

    .bg2 .serv2 {
        top: 30%;
        right: 6%
    }

    .bg2 .serv3 {
        top: 0%;
        left: 20%
    }

    .bg2 .serv4 {
        top: 30%;
        left: 6%
    }

    .bg2 .serv5 {
        top: 41%;
        left: 36%;
    }

    header {
        width: 90%;
        margin: 0 auto
    }

    footer {
        width: 90%
    }

    header .logo {
        margin: 0 auto;
        width: 40%;
        float: left
    }

    header .buttonblock {
        margin: 17px auto 0 !important;
        width: 50% !important;
        text-align: center !important;
        float: left
    }

    header .buttonblock a {
        margin: 0 5px !important;
        width: 70px
    }

    .block1 {
        background-size: 115%;
        margin: -28px auto 0;
        height: 400px
    }

    .midblock {
        margin-top: 10px
    }

    .bg1 {
        max-height: 700px
    }

    .bg1 h1 {
        font-size: 56px
    }

    .bg1 h2 {
        font-size: 24px;
        width: 90%;
        margin: 0 auto;
        display: block !important
    }

    .blocktext {
        width: 85%;
        margin: 30px auto 0;
        text-align: center
    }

    .block2 .btext, .block4 .btext {
        text-align: center
    }

    .bgblock {
        background-size: contain;
        margin: 0 auto;
        min-width: 280px;
        max-width: 600px;
        min-height: 300px
    }

    .bg3 .btext {
        width: 80%;
        text-align: center;
        margin: 0 auto 30px
    }

    .bg3 {
        height: 600px;
        background-size: cover;
        padding-top: 60px
    }

    .block3bg {
        background-size: contain;
        width: 300px;
        height: 500px;
    }

    .row {
        background: none !important
    }

    .round {
        width: 244px !important;
        height: 244px !important;
        border-radius: 50%;
        margin: 20px auto 0 !important;
        display: block
    }

    .round:first-child {
        margin-top: 0 !important
    }

    .block5 .row {
        padding: 30px 0 !important
    }

    .round span {
        padding-top: 140px
    }

    .round.icon2 {
        background-position: center 50px !important
    }

    .round.icon2 span {
        padding-top: 150px !important
    }

    .midblock .buttonblock {
        display: none
    }
}

@media (max-width: 800px) {
    footer .logo {
        margin: 20px auto;
        float: none
    }

    footer .copyrights {
        margin: 20px auto;
        float: none;
        text-align: center
    }

    footer .links {
        margin: 20px auto;
        float: none;
        text-align: center
    }

    footer .feelink {
        margin: 0 auto 20px;
        float: none;
        text-align: center
    }

    footer .contacts {
        float: none;
        margin-top: 20px auto;
        text-align: center
    }
}

@media (min-width: 750px) and (max-width: 1000px) {
    .bg2 a {
        width: 92px;
        height: 92px !important
    }

    .bg2 .serv1 {
        top: 4%;
        right: 22%
    }

    .bg2 .serv2 {
        top: 34%;
        right: 7%;
    }

    .bg2 .serv3 {
        top: 4%;
        left: 22%
    }

    .bg2 .serv4 {
        top: 34%;
        left: 7%;
    }

    .bg2 .serv5 {
        top: 40%;
        left: 38%;
    }

    header .buttonblock {
        width: 47%
    }

    header, footer {
        width: 90%;
        margin: 0 auto
    }

    header .buttonblock a {
        width: 100px;
        margin-right: 5px
    }

    .block1 {
        width: 100%;
        height: 487px;
        margin: -40px auto 0;
        background-size: 90%
    }

    .bg1 {
        min-height: 800px
    }

    .bh1 {
        font-size: 36px;
        width: 75%;
        margin: 0 auto 20px
    }

    .block2 .bh1 {
        margin: 0 0 20px
    }

    .bgblock {
        background-size: contain !important;
        width: 45%;
        min-height: 350px
    }

    .blocktext {
        width: 42%
    }

    .midblock {
        margin: 65px auto 90px;
        width: 100%;
        position: relative;
        z-index: 5
    }

    .round {
        width: 244px !important;
        height: 244px !important;
        border-radius: 50%;
        margin: 20px auto 0 !important
    }

    .round:first-child {
        margin-top: 0 !important
    }

    .block5 .row {
        padding: 0 !important;
        background: none
    }

    .bg3 {
        height: 600px;
        background-size: cover;
        padding-top: 60px
    }

    .block3bg {
        background-size: contain;
        width: 320px;
        height: 600px;
    }

    .bg3 .btext {
        width: 80%;
        margin: 0 auto
    }

    .round span {
        padding-top: 140px
    }

    .round.icon2 {
        background-position: center 50px !important;
        margin: 0 20px !important
    }

    .round.icon2 span {
        padding-top: 150px !important
    }

    .midblock .buttonblock {
        display: none
    }

    .contacts {
        margin-top: 20px auto 0
    }

    footer .copyrights {
        width: 330px
    }

    footer .links {
        margin: 5px 20px 0 0
    }

    .feelink {
        width: 175px
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .block1 {
        width: 100%;
        background-size: 75%
    }

    .bg1 {
        min-height: 800px
    }

    header {
        width: 90%
    }

    footer {
        width: 90%
    }

    header .buttonblock {
        width: 60%
    }

    .bgblock {
        background-size: contain;
        min-height: 480px
    }

    .midblock .buttonblock {
        display: none
    }

    .round.icon2 {
        margin: 0px 80px
    }

    .bg2 a {
        width: 130px;
        height: 130px;
    }

    .bg2 .serv3, .bg2 .serv1 {
        top: 20%;
    }

    .bg2 .serv2, .bg2 .serv4, .bg2 .serv5 {
        top: 47%;
    }
}

@media (min-width: 1299px) {
    .midblock .buttonblock {
        display: none
    }
}

.carousel{
    margin-top: 20px !important;
}
.carousel .item img{
    margin: 0 auto !important; /* Align slide image horizontally center */
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel-control span.glyphicon {
    color: black  !important;
}

.carousel-indicators li {
  background-color: #999  !important;
  background-color: rgba(70,70,70,.25)  !important;
}

.carousel-indicators .active {
  background-color: #444  !important;
}