/****************************/
/*       List Module        */
/****************************/

.list-module h2 {
    border: solid #cacaca;
    border-width: 1px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 6px 10px;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}

.list-module .list-body {
    border: solid #cacaca;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fafafb;
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.list-module .list-body .icon {
    display: block;
    height: 28px;
    width: 28px;
    position: absolute;
    top: 10px;
    left: 10px;
    /*background: transparent url(images/popular_guide_sprites.png) 0 0 no-repeat;*/
}

.list-module a {
    text-decoration: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e9ecee;
    padding: 6px 10px;
    position: relative;
    display: block;
}

.list-module a:hover {
    border-top: 1px solid #fafafb;
    border-bottom: 1px solid #e5e8ea;
    background-color: #f0f0f3;
    text-decoration: none;
}

.list-module a h3 {
    color: #4183C4;
}

.list-module a:hover h3 {
    text-decoration: underline;
}

.list-module ul {
    list-style-type: none;
    margin: 0px;
}

.list-module h3 {
    margin: 0px;
    font-size: 16px;
}

.list-module .list-body a p {
    color: #666;
    margin: 0px;
}
