/* Logo
   -------------------------------- */

h1.logo {
    /*position: absolute;*/
    /*top: 55px;*/
    /*left: 28px;*/
    margin: 0;
}

h1.logo,
h1.logo a {
    width: 30px;
    height: 20px;
}

h1.logo a {
    display: block;
    background: url('../images/syncloud.png') no-repeat;
}

h1.logo a span {
    display: none;
}

.logopad {
    padding-top: 10px;
}
