<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title data-i18n="page_title_apps" >Apps | Syncloud</title>
        <meta name="author" content="syncloud.org">
        <meta name="description" content="Your Personal Server">
        <meta name="keywords" content="Your Personal Server">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="width" />
        <meta content="yes" name="apple-mobile-web-app-capable" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#64bc46">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="css/landing_links.css" type="text/css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/flags.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="css/apps.css">

    </head>
    <body style="display: none">
        <!--HEADER-->
        <div id="header"></div>
        <!--headerbg-->
        <div class="headerbg">
            <div class="block1 wd12" id="block1">
                <h1 data-i18n="apps" >Apps</h1>
            </div>
        </div>
        <!--link_block2-->
        <div class="link_block wd12" id="block2">
<div class="container">
    <div class="app-settings-row">
        <div class="col-md-3 col-vert buttonblock">
            <label for="categories">Filter Category:</label>
            <select class="button_border form-control mb-2" id="categories" name="categories"></select>
            <br>
            <label for="sort-apps">Sort:</label>
            <select class="button_border form-control" id="sort-apps" name="sort apps">
                <option value="sort-a-z">A-Z</option>
                <option value="sort-z-a">Z-A</option>
                <option value="sort-categories">Categories</option>
            </select>
        </div>
        <div class="col-md-6 col-vert buttonblock">
            <input type="text" id="search-bar" class="form-control" placeholder="Search for apps...">
        </div>
        <div class="col-md-3 col-vert text-right buttonblock">
            <button class="button_border btn btn-primary" id="toggle-view"><i class="fas fa-list"></i></button>
        </div>
    </div>
</div>

            <div class="rowthree-wrapper">
            <div class="rowthree grid-view" id="apps"></div>
            </div>
            </div>
        </div>
        <!--footer-->
        <div id="footer"></div>
        <script type="text/html" id='app-template'>
            <% _.each(apps, function (app) { %>
                <div class="threeblock <%= app.appcategory %>">
                    <a style="color: inherit; text-decoration: inherit;" href="app-detail.html?app=<%= encodeURIComponent(app.id) %>">
                    <div class="app-image" style="margin-left: 0; display:inline-block;vertical-align:top;text-align:left">
                        <img style="margin-left: 0; border-radius:20%;" src="images/apps/<%= app.id %>-128.png">
                    </div>
                    <div style="width: 60%; display:inline-block;vertical-align:top;text-align:left">
                        <div class="appnametext" style="font-size: 20px"><%= app.name %></div>
                        <div><%= app.description %></div>
                    </div>
                    <div class="appcategory"><%= app.appcategory %></div>
                    </a>
                </div>
            <% }); %>
        </script>
        
      
        <!-- Scripts-->
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/google-analytics.js"></script>
        <script src="js/i18next.min.js" ></script>
        <script src="js/i18nextXHRBackend.min.js" ></script>
        <script src="js/jquery-i18next.min.js" ></script>
        <script src="js/i18nextBrowserLanguageDetector.min.js" ></script>
        <script src="js/translation.js" ></script>
        <script src="js/landing.js"></script>
        <script src="js/bootstrap.min.js"></script>
       		<script src="js/jquery.flagstrap.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/apps.js"></script>
        <script src="https://underscorejs.org/underscore-min.js"></script>
        
        <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/IE9.js"></script>
        <![endif]-->
        <!-- END SCRIPTS -->
    </body>
</html>
