[Unit]
Description=syncloud.org api
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/var/www/syncloud.org/bin/api --socket /var/www/syncloud.org/api.socket --metrics :9101 --release-base https://github.com/syncloud/image/releases/download --release-api https://api.github.com/repos/syncloud/image/releases/latest --release-cache 1h
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
