---
sections:
    - name: News
      url: index.html
    - name: Download
      url: download.html
    - name: Screenshots
      url: http://www.flickr.com/photos/79730089@N02/sets/72157629961993934/show
    - name: Development
      url: https://github.com/syncloud/syncloud
    - name: Wiki
      url: https://github.com/syncloud/syncloud/wiki
    - name: About
      url: about.html
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="Syncloud : Share files through the clouds"/>
    <link type="text/css" href="css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.20.custom.min.js"></script>

    <!--<link rel="stylesheet" href="css/reset.css"/>-->
    <!--<link rel="stylesheet" href="css/text.css"/>-->
    <link rel="stylesheet" href="css/960.css"/>
    <link rel="stylesheet" href="css/stylesheet.css"/>
    <link rel="stylesheet" href="css/list-module.css"/>
    <link rel="stylesheet" href="css/navigation.css"/>
    <link rel="stylesheet" href="css/logo.css"/>
    <title>Syncloud - {{ page.title }}</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">

    <div class="container_12">

        <div class="grid_1 logopad">
            <img src="images/syncloud.png" width="64" height="61"/>
        </div>

        <div class="grid_3 logopad">
            <h1 id="project_title">Syncloud</h1> :
        </div>

        <div class="grid_8">
            <div id="navigation">
                <ul>
                    {% for item in page.sections %}
                    <li class="{% if page.title == item.name %} selected {% endif %} {% if forloop.last %} last {% endif %}">
                        <a  href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="clear"></div>

        <div class="grid_12">
            <h2 id="project_tagline">Share files through the clouds</h2>
        </div>

    </div>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">

{{ content }}

</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <div class="container_12">
        <footer class="inner grid_12">
            <p class="copyright">Syncloud maintained by <a href="https://github.com/syncloud">syncloud</a></p>

            <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-31421263-1");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>


</body>
</html>