---
sections:
    - name: News
      url: /index.html
    - name: Get It
      url: /getit.html
    - name: Development
      url: /development.html
    - name: Contact Us
      url: /contactus.html
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="description" content="Syncloud : Share files through the clouds"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.21.custom.min.js"></script>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="/css/offcanvas.css" rel="stylesheet">

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/js/offcanvas.js"></script>

    <link rel="stylesheet" href="/css/960.css"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="/css/list-module.css"/>
    <link rel="stylesheet" href="/css/navigation.css"/>

    <link rel="stylesheet" href="/css/news.css"/>
    <link rel="stylesheet" href="/css/download.css"/>
    <link rel="stylesheet" href="/css/getit.css"/>
    <link rel="stylesheet" href="/css/contuctus.css"/>
    <title>Syncloud - {{ page.title }}</title>
</head>

<body>


<!-- HEADER -->
<div id="header_wrap" class="outer">

    <div class="container_12">
        <div class="grid_3">
            <img id="logo" src="/images/syncloud.png"/>
        </div>

        <div class="grid_9">
            <div id="navigation">
                <ul>
                    {% for item in page.sections %}
                    <li class="{% if page.title == item.name %} selected {% endif %} {% if forloop.last %} last {% endif %}">
                        <a  href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>

<br/>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">

    {{ content }}

</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-31421263-1");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>


</body>
</html>
