<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
    
    <link href="css/device.css" rel="stylesheet">
    <link href="css/responsive-video.css" rel="stylesheet">
</head>

<body>

<div class="jumbotron">
    <div class="container">

        <h1>Build your own online storage with<br/>{{ page.boardname }}</h1>

    </div>
</div>

    <div class="container">

        {{ content }}


        <div class="row">

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">5. Activate using an Android app</span></h3>
                <br>
                <p>Use android app to activate device and enable ownCloud</p>
                <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/DT5rTLRbNaY" frameborder="0" allowfullscreen></iframe></div>
            </div>

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">6. Use It!</span></h3>
                <br>
                
                <p>Now you ready to use your online storage! Access. Sync. Share. <a href="http://owncloud.org/features/">Learn more</a> about ownCloud features.</p>
                <p></p>

                <div id="courousel-use" class="carousel slide" style="max-width: 452px; margin: 0 auto">
                    <ol class="carousel-indicators">
                        <li data-target="#courousel-use" data-slide-to="0" class="active"></li>
                        <li data-target="#courousel-use" data-slide-to="1"></li>
                        <li data-target="#courousel-use" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="dark_border" src="images/use-browser.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/use-android.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/use-iphone.png">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#courousel-use" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#courousel-use" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>
                <br>


                <p>Download ownCloud client application for your platform:</p>
                <div class="btn-group">
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#windows"><i class="fa fa-windows"></i> Windows</a>
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#mac"><i class="fa fa-apple"></i> Mac OS X</a>
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#linux"><i class="fa fa-linux"></i> Linux</a>
                    <a class="btn btn-large btn-default" href="https://play.google.com/store/apps/details?id=com.owncloud.android"><i class="fa fa-android"></i> Android</a>
                    <a class="btn btn-large btn-default" href="http://itunes.apple.com/us/app/owncloud/id543672169?ls=1&mt=8"><i class="fa fa-apple"></i> iPhone</a>
                </div>
            </div>

        </div>

        <br/>
        <br/>

    <!--/container-->
    </div>

    {% include google-analytics.html %}

    {% include scripts.html %}

</body>
</html>
