<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
    
    <link href="css/device.css" rel="stylesheet">
    <link href="css/responsive-video.css" rel="stylesheet">
</head>

<body>

<div class="jumbotron">
    <div class="container">

        <h1>Build your own online storage with<br/>{{ page.boardname }}</h1>

    </div>
</div>

    <div class="container">



        <div class="row">
            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">1. Compatibility Check</span></h3>
                <br>
                <p>Use <a href="https://play.google.com/store/apps/details?id=org.syncloud.android">Syncloud Android application</a> to check if your router is compatible. Check is automatically performed on first run and always available on Settings screen.</p>

                <img class="center-block img-responsive" src="../images/android-router-check.png" style="padding: 13px"/>

            </div>

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">2. Get Hardware</span></h3>

                <a href="{{page.board-site}}">
                    <img class="center-block img-responsive" src="images/{{page.boardpicture}}" style="padding: 13px; margin-top: 50px;"/>
                </a>

                <p class="text-center">Buy <a href="{{page.board-site}}">{{page.boardname}}</a> single-board computer <br> and {{page.storage-type}} hard drive.
                </p>
            </div>

        </div>

        <div class="row">


            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">3. Get Software</span></h3>

                <a style="text-decoration: none;" onClick="_gaq.push(['_trackEvent', 'Images', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="https://s3-us-west-2.amazonaws.com/syncloud-releases/{{page.imagefile}}.xz">
                    <!--<img class="center-block img-responsive" style="margin-top: 50px;" src="../images/download.png"/>-->
                    <span class="glyphicon glyphicon-download text-center center-block" style="margin-top: 50px; font-size:200px; color:#5CB85C;" aria-hidden="true"></span>
                </a>
                <p class="text-center" style="padding-top: 20px;">Download syncloud image <br> for <a onClick="_gaq.push(['_trackEvent', 'Images', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="https://s3-us-west-2.amazonaws.com/syncloud-releases/{{page.imagefile}}.xz">{{page.boardname}}</a>.
                </p>
            </div>

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">4. Install Software</span></h3>
                <br>
                <p>Create microSD card (4GB or more):</p>
                <div>
                    <p><span class="badge">1</span><span style="padding-left: 10pt">Uncompress image file (Linux):</span></p>
                    <p><span style="padding-left: 25pt"></span><code>unxz {{page.imagefile}}.xz</code></p>
                    <p><span style="padding-left: 25pt">Or use <a onClick="_gaq.push(['_trackEvent', '7Zip', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="http://www.7-zip.org">7-zip</a> on Windows</p>
                    <p><span style="padding-left: 25pt">Or use <a onClick="_gaq.push(['_trackEvent', 'the-unarchiver', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="https://itunes.apple.com/en/app/the-unarchiver/id425424353">The Unarchiver</a> on Mac</p>

                    <p><span class="badge">2</span><span style="padding-left: 10pt">Write image to SD card (Linux/Mac):</span></p>

                    <p><span style="padding-left: 25pt"></span>Identify sd card (Mac only): <code>diskutil list</code></p>
                    <p><span style="padding-left: 25pt"></span>Unmount (Mac only): <code>diskutil unmountDisk /dev/mmcblk0</code></p>
                    <p><span style="padding-left: 25pt"></span><code>sudo dd if=./{{page.imagefile}} of=/dev/mmcblk0</code></p>
                    <p><span style="padding-left: 25pt"></span>Or use <a onClick="_gaq.push(['_trackEvent', 'win32diskimager', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="http://sourceforge.net/projects/win32diskimager">Win32 Disk Imager</a> on Windows</p>

                    <p><span class="badge">3</span><span style="padding-left: 10pt">Insert SD card into device</span></p>
                    <p><span class="badge">4</span><span style="padding-left: 10pt">Power on</span></p>
                </div>
                <p>Syncloud image is based on <a onClick="_gaq.push(['_trackEvent', '{{page.base-image-name}}', 'Download', '{{page.boardname}} {{page.releaseversion}}']);" href="{{page.base-image-site}}">{{page.base-image-name}}</a></p>
                <p>SSH login / password: root / syncloud</p>
            </div>

        </div>

        <div class="row">

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">5. Connect Everything</span></h3>
                <br>
                <div>
                    <p><span class="badge">1</span><span style="padding-left: 10pt">Connect hard disk drive to the device with USB cable.</span></p>
                    <p><span class="badge">2</span><span style="padding-left: 10pt">Try to use dedicated HDD power cable.</span></p>
                    <p><span class="badge">3</span><span style="padding-left: 10pt">Don't forget to create single partition on the drive (ext4 is tested).</span></p>
                    <p><span class="badge">4</span><span style="padding-left: 10pt">Connect your device to your home router. Use one of the available LAN ports.</span></p>
                    <p><span class="badge">5</span><span style="padding-left: 10pt">Turn the device on.</span></p>
                </div>
                </p>
                <img class="center-block img-responsive" src="images/{{page.schema-picture}}" style="max-width: 80%; margin: 0 auto"/>
            </div>

            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">5. Activate</span></h3>
                <br>
                <p>Use <a href="https://play.google.com/store/apps/details?id=org.syncloud.android">Syncloud Android application</a> to activate your device, link it with domain name at <a href="http://www.syncloud.it">syncloud.it</a> and enable ownCloud. Watch <a href="https://www.youtube.com/watch?v=BaJzXCB_TyY">video</a> for this step.</p>

                <div id="courousel-activate" class="carousel slide" style="max-width: 452px; margin: 0 auto">
                    <ol class="carousel-indicators">
                        <li data-target="#courousel-activate" data-slide-to="0" class="active"></li>
                        <li data-target="#courousel-activate" data-slide-to="1"></li>
                        <li data-target="#courousel-activate" data-slide-to="2"></li>
                        <li data-target="#courousel-activate" data-slide-to="3"></li>
                        <li data-target="#courousel-activate" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="dark_border" src="images/android-start.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/android-signin.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/android-discover.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/android-activate.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/android-owncloud.png">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#courousel-activate" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#courousel-activate" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>
            </div>

        </div>

        <div class="row">


            <div class="col-6 col-md-6 col-sm-6 col-lg-6">
                <h3><span class="label label-success">7. Use It!</span></h3>
                <br>
                
                <p>Now you ready to use your online storage! Access. Sync. Share. <a href="http://owncloud.org/features/">Learn more</a> about ownCloud features.</p>
                <p></p>

                <div id="courousel-use" class="carousel slide" style="max-width: 452px; margin: 0 auto">
                    <ol class="carousel-indicators">
                        <li data-target="#courousel-use" data-slide-to="0" class="active"></li>
                        <li data-target="#courousel-use" data-slide-to="1"></li>
                        <li data-target="#courousel-use" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="dark_border" src="images/use-browser.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/use-android.png">
                        </div>
                        <div class="item">
                            <img class="dark_border" src="images/use-iphone.png">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#courousel-use" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#courousel-use" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>
                <br>


                <p>Download ownCloud client application for your platform:</p>
                <div class="btn-group">
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#windows"><i class="fa fa-windows"></i> Windows</a>
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#mac"><i class="fa fa-apple"></i> Mac OS X</a>
                    <a class="btn btn-large btn-default" href="http://owncloud.org/sync-clients/#linux"><i class="fa fa-linux"></i> Linux</a>
                    <a class="btn btn-large btn-default" href="https://play.google.com/store/apps/details?id=com.owncloud.android"><i class="fa fa-android"></i> Android</a>
                    <a class="btn btn-large btn-default" href="http://itunes.apple.com/us/app/owncloud/id543672169?ls=1&mt=8"><i class="fa fa-apple"></i> iPhone</a>
                </div>
            </div>

        </div>

        <br/>
        <br/>

    <!--/container-->
    </div>

    {% include google-analytics.html %}

    {% include scripts.html %}

</body>
</html>
